// Aside Box
//
// A variation of the content box to be used as an aside.
//
//
// Markup: aside-box.twig
//
// Style guide: 6.6

.aside-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    align-content: flex-start;


    &__item {
        width: 100%;
        background-color: color(grey-soft);
        min-height: 200px;
        padding: $spacing-s;
        padding-bottom: $spacing-m;
        border: $border-style color(grey-xlight);

        h3 {
            @include typeface(base);
            @include typeset(default);
            margin-top: $spacing-s;
            color: color(blue-dark);
            font-weight: bold;
        }

        p {
            flex-grow: 1;
            color: color(blue-dark);
        }

        @include respond-to(xl) {
            width: 31.33%;
            margin-top: 0;

        }
    }
}
