<div class="aside-box">
  <div class="aside-box__item {{ modifier_class }}">
  	<h3>Contact</h3>
    <p>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.  </p>
    <a href="{{ path }}" title="{{ title }}"><button class="button button--secondary">Contact us</button></a>

  </div>
</div>