<header class="header">
  {% include '../logo/logo.twig' with { id: 'header' } %}
  <button class="mobile-menu__toggle" id="mobile-menu" aria-haspopup="dialog">{{ 'Show menu' }}</button>
  {% include '../nav/nav.twig' %}
</header>